{
  "extends": "airbnb",
  "plugins": ["import", "react", "jsx-a11y", "jest"],
  "rules": {
    "max-len": [
      2,
      80,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false
      }
    ],
    "no-underscore-dangle": "off"
  },
  "env": {
    "jest": true
  }
}
